* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.addresses-wrapper {
    padding: 20px;
}
.address__icon {
    width: 70px;
    float: left;
    margin-right: 10px;
}
.address__status{
    width: 32px;
}

.address {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    border-radius: 10px;
    font-style: normal;
    background-color: #FFE4C4;
}

.address__delete-btn {
    background-color: #FF8E50;
    color: white;
    text-decoration: none;
    font-size: 36px;
    line-height: 20px;
    padding: 10px;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.address__delete-btn:hover {
    background-color: #FFD050;
}

.address {
    position: relative;
}
.address__status {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.address__delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.address__header {
    margin-bottom: 10px;
    display: block;
}

.addresses-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.address {
    width: 32%;
    margin: 1%;
    box-sizing: border-box;
}
.address:first-child {
    margin-left: 0;
    background-color: #F0FFC1;
}
.address:last-child {
    margin-right: 0;
    background-color: #B6FFDA;
}

.address:hover {
    background-color: #F3F3F3;
}

@media (max-width: 767px) {
    .address {
        width: 100%;
        margin: 0 0 20px 0;
    }
}